.npc .obsidian [data-tab=desc] section:first-child {
	column-width: 350px;
	text-align: center;
}

.vehicle .obsidian [data-tab=desc] section:first-child {
	text-align: center;
}

.npc .obsidian [data-tab=desc] .obsidian-char-box {
	width: 350px;
}

.npc .obsidian [data-tab=desc] .obsidian-char-box-text {
	width: 350px;
}

.npc .obsidian [data-tab=desc] h3,
.vehicle .obsidian [data-tab=desc] h3 {
	margin: 15px 8px .5rem 8px;
}

.dnd5e.sheet form.obsidian > .obsidian-tab-container {
	flex: 1;
}

.obsidian-tab-container[data-tab=desc],
.obsidian-tab-container[data-tab=stats],
.obsidian-tab-container[data-tab=effects],
.obsidian-tab-container[data-tab=layout] {
	position: relative;
}

.dnd5e.sheet.npc .window-content,
.dnd5e.sheet.vehicle .window-content {
	background: var(--obs-bg);
	overflow: unset;
}

.obsidian-vehicle-bg form.obsidian {
	background: transparent url('../img/graph.webp') repeat;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar,
.dnd5e.sheet.vehicle .window-content .obsidian .tab::-webkit-scrollbar {
	height: 6px;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar-track,
.dnd5e.sheet.vehicle .window-content .obsidian .tab::-webkit-scrollbar-track {
	box-shadow: none;
}

.dnd5e.sheet.npc .window-content .obsidian .tab::-webkit-scrollbar-thumb,
.dnd5e.sheet.vehicle .window-content .obsidian .tab::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

.obsidian-npc-stats {
	padding: 0 12px;
}

.obsidian-npc-stats header {
	border-bottom: 1px solid var(--obs-mid);
	padding-bottom: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.obsidian-npc-stats header .obsidian-char-charname {
	margin-bottom: 5px;
}

.obsidian-npc-stats header .obsidian-char-header-minor {
	padding-left: 4px;
	cursor: pointer;
}

.dnd5e.sheet.npc .obsidian-npc-stats header .obsidian-char-header-minor span,
.dnd5e.sheet.vehicle .obsidian-npc-stats header .obsidian-char-header-minor span {
	font-size: 16px;
	font-style: italic;
}

.dnd5e.sheet.npc .obsidian-npc-stats header .obsidian-char-header-minor.obsidian-summon-level {
	color: var(--obs-text-secondary);
	font-style: normal;
	padding-top: 4px;
	font-size: 14px;
}

.obsidian-npc-stats main {
	column-width: 350px;
	column-gap: 20px;
	padding-top: 8px;
}

.obsidian-npc-stat-row {
	display: flex;
	align-items: center;
}

.obsidian-npc-stat-row,
.obsidian-npc-stat-runon {
	margin-bottom: 4px;
}

.obsidian-npc-stat-key,
.obsidian-npc-stat-runon strong {
	font-size: 14px;
	text-transform: uppercase;
	color: var(--obs-text-secondary);
	font-family: var(--obs-font-condensed);
	font-weight: bold;
	margin-right: 5px;
}

.obsidian-font-13 {
	font-size: 13px;
}

.obsidian-font-14 {
	font-size: 14px;
}

.dnd5e.sheet .obsidian-npc-hp input[type=text],
.dnd5e.sheet .obsidian-npc-cr input[type=text],
.dnd5e.sheet .obsidian-npc-hd input[type=text],
.dnd5e.sheet .obsidian-vehicle-cargo-cap input[type=text],
.dnd5e.sheet .obsidian-vehicle-mass input[type=text],
.dnd5e.sheet .obsidian-vehicle-speed input[type=text],
.dnd5e.sheet .obsidian-vehicle-combatspeed input[type=text],
.dnd5e.sheet .obsidian-vehicle-handling input[type=text],
.dnd5e.sheet .obsidian-vehicle-fuel input[type=text],
.dnd5e.sheet .obsidian-vehicle-ac input[type=text],
.dnd5e.sheet .obsidian-vehicle-dr input[type=text],
.dnd5e.sheet .obsidian-vehicle-dt input[type=text] {
	height: auto;
	width: 30px;
	font-size: 14px;
	color: var(--obs-text-regular);
	display: inline-block;
	margin: 0;
}

.obsidian-npc-hd-die {
	margin: 0 10px;
}

.obsidian-npc-hd-die,
.obsidian-npc-hd-const {
	color: var(--obs-text-subtle);
}

.dnd5e.sheet .obsidian-npc-hp input[type=text]:first-child,
.dnd5e.sheet .obsidian-npc-hd input[type=text]:first-child {
	color: var(--obs-text-subtle);
}

.dnd5e.sheet .obsidian-npc-hp input[type=text].obsidian-npc-tmp-hp {
	padding: 0;
	font-weight: normal;
	color: var(--obs-text-secondary);
	text-align: center;
}

.dnd5e.sheet .obsidian-vehicle-cargo-cap input[type=text],
.dnd5e.sheet .obsidian-vehicle-mass input[type=text],
.dnd5e.sheet .obsidian-vehicle-speed input[type=text],
.dnd5e.sheet .obsidian-vehicle-combatspeed input[type=text],
.dnd5e.sheet .obsidian-vehicle-fuel input[type=text] {
	text-align: right;
}

.obsidian-npc-dt {
	display: inline-block;
	margin-left: 3px;
}

.obsidian-npc-subtle {
	color: var(--obs-text-subtle);
	font-size: 13px;
}

.dnd5e.sheet .obsidian-npc-dt input[type=text] {
	width: 75px;
	font-weight: normal;
	border: none;
	border-bottom: 1px solid var(--obs-mid);
}

.dnd5e.sheet .obsidian-npc-dt input[type=text]:hover,
.dnd5e.sheet .obsidian-npc-dt input[type=text]:focus {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--obs-mid);
}

.npc .obsidian-char-abilities,
.vehicle .obsidian-char-abilities {
	padding: 2px 0 6px 0;
}

:is(.npc, .vehicle) .obsidian-char-ability .obsidian-char-box {
	margin-top: 8px;
}

.obsidian fieldset.obsidian-edit-npc-stats {
	border: none;
	border-top: 1px solid var(--obs-mid);
	margin: 0;
	padding: 0 0 4px 0;
}

.obsidian-edit-npc-stats legend {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--obs-text-regular);
}

.obsidian-npc-stat-li {
	display: inline-block;
}

.obsidian-npc-stat-li:after {
	content: ', ';
}

.obsidian-npc-stat-li:last-child:after {
	content: '';
}

.obsidian-npc-saves .obsidian-npc-stat-li {
	text-transform: uppercase;
}

.obsidian-npc-configure {
	display: flex;
	justify-content: space-evenly;
	font-size: 12px;
	color: var(--obs-text-secondary);
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px dotted var(--obs-mid);
	width: 100%;
}

.obsidian-npc-configure i {
	color: var(--obs-text-subtle);
	margin-left: 1px;
}

.obsidian-npc-configure div:hover i {
	color: var(--obs-text-regular);
}

.obsidian-npc-configure div:first-child {
	margin-right: 5px;
}

.obsidian-npc-configure div:last-child {
	margin-left: 5px;
}

.obsidian .obsidian-save-item input,
.obsidian .obsidian-npc-grid-item input {
	width: 25px;
	border: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1;
}

.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(16),
.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(17),
.obsidian-npc-skills .obsidian-npc-grid-item:nth-child(18) {
	margin: 0;
	border: none;
}

.obsidian-npc-stat-block {
	padding-bottom: 8px;
	border-bottom: 2px solid var(--obs-mid);
	break-inside: avoid;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.npc main section,
.vehicle main section {
	border-bottom: 2px solid var(--obs-mid);
}

.npc main section:last-child,
.npc main .obsidian-feature-body section,
.vehicle main section:last-child,
.vehicle main .obsidian-feature-body section {
	border: none;
}

.obsidian-npc-stats .obsidian-feature {
	margin-bottom: 0;
	break-inside: avoid;
}

.obsidian-npc-stats .obsidian-feature p {
	margin-top: 0;
}

.obsidian-npc-stats .obsidian-feature-header {
	margin-top: 12px;
	margin-bottom: 4px;
}

.npc .obsidian .obsidian-npc-stats h3,
.vehicle .obsidian .obsidian-npc-stats h3 {
	border: none;
	text-transform: none;
	font-size: 20px;
	font-weight: normal;
	font-family: var(--obs-font);
	padding: 0;
	margin: 4px 0 -6px;
}

.obsidian-rules-text {
	padding-top: 4px;
	color: var(--obs-text-subtle);
	font-size: 12px;
}

.obsidian-attack-line {
	display: flex;
	align-items: center;
	border: 1px dotted var(--obs-mid);
	padding: 6px 8px;
	margin-top: 8px;
	border-left: none;
	border-right: none;
}

.obsidian-attack-line + .obsidian-feature-body {
	margin-top: 8px;
}

.npc .obsidian-spell-table .obsidian-col-icon {
	font-size: 18px;
}

:is(.npc, .vehicle) .obsidian-char-box-text {
	padding-bottom: 2px;
}

:is(.npc, .vehicle) .obsidian-char-box {
	padding: 6px 0;
	font-size: 14px;
	line-height: normal;
	min-height: unset;
	min-width: 45px;
}

:is(.npc, .vehicle) .obsidian-conditions-box .obsidian-char-box {
	padding: 0;
	border: 0;
}

:is(.npc, .vehicle) .obsidian-char-box.obsidian-skills-box {
	padding: 8px 8px 0;
	width: 100%;
}

:is(.npc, .vehicle) .obsidian-char-box.obsidian-defenses {
	padding: 8px;
}

.obsidian-window:is(.npc, .vehicle) .obsidian-char-header-container {
	flex-wrap: unset;
	flex-direction: column;
	flex: 1;
}

.obsidian-npc-cr-container {
	margin-right: 10px;
	display: flex;
	align-items: flex-end;
}

.obsidian-npc-cr-input {
	font-size: 20px;
}

.obsidian-npc-cr-xp {
	color: var(--obs-text-subtle);
	font-size: 11px;
}

.dnd5e.sheet .obsidian-npc-cr-input input[type=text] {
	font-size: 20px;
	padding: 0;
	line-height: 1;
	min-width: 30px;
}

.obsidian-npc-box-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4px;
}

.obsidian-npc-box-row .obsidian-char-box-container {
	padding-right: 4px;
}

:is(.npc, .vehicle) .obsidian-char-box.obsidian-npc-hp-box {
	padding: 2px 14px;
}

:is(.npc, .vehicle) .obsidian-char-box.obsidian-npc-hd-box {
	padding: 2px 6px;
}

.obsidian-char-box.obsidian-char-input-box {
	padding: 0;
}

.dnd5e.sheet:is(.npc, .vehicle) .obsidian-char-input-box input[type=text] {
	width: 37px;
	margin: 0;
	font-size: 14px;
	line-height: normal;
	padding: 6px 0 4px 0;
	font-weight: bold;
	color: var(--obs-text-regular);
	font-family: var(--obs-font);
}

:is(.npc, .vehicle) .obsidian-tab-container > :is(.obsidian-char-spell-search, .obsidian-char-inv-search) {
	padding: 0 10px;
}

.obsidian-npc-stat-block > .obsidian-char-box-container {
	align-items: unset;
	width: 100%;
}

.obsidian-npc-stat-block > .obsidian-char-box-container > .obsidian-char-box-text {
	text-align: center;
	width: unset;
}

.obsidian-npc-stat-block .obsidian-skills-box .obsidian-passive-item + .obsidian-bisect {
	margin-top: 8px;
}

.obsidian-npc-stat-block .obsidian-death-saves-box {
	width: unset;
	height: unset;
}

.obsidian-npc-stat-block .obsidian-death-saves-box .obsidian-char-box {
	height: unset;
}

.obsidian-npc-stat-block .obsidian-char-box-lg {
	margin-right: 0;
	width: 100%;
}

.obsidian-npc-stat-block .obsidian-conditions-box {
	grid-column-start: unset;
}

.obsidian-npc-stat-block .obsidian-death-saves-box .obsidian-char-box-lg {
	min-width: 261px;
}

.obsidian-npc-stat-block-grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.obsidian-npc-btns button.obsidian-btn-sm.obsidian-btn-sheet {
	margin-bottom: 5px;
}

[data-edit="data.details.biography.value"]+.editor-edit {
	display: none !important;
}

.obsidian-npc-stat-value[contenteditable] {
	min-width: 40px;
	outline: none;
}

.dnd5e.sheet select.obsidian-select-crew {
	flex: unset;
	height: 22px;
	padding: 0;
	border: none;
}

.obsidian-feature-header.obsidian-vehicle-component {
	height: unset;
	margin-top: 4px;
}

.obsidian-feature-header.obsidian-vehicle-component h4 {
	font-size: 20px;
	font-family: var(--obs-font);
	font-weight: normal;
	color: var(--obs-text-secondary);
}

.obsidian-feature-header.obsidian-vehicle-component > div:first-child {
	align-items: center;
}

.obsidian-feature .obsidian-npc-stat-runon strong {
	font-weight: bold;
	text-transform: none;
	font-family: var(--obs-font-condensed);
	font-size: 13px;
	line-height: 1.2;
	color: var(--obs-text-regular);
}

.obsidian-npc-stat-runon-hp {
	display: flex;
	align-items: center;
}

.dnd5e.sheet .obsidian-npc-stat-runon-hp input {
	display: inline-block;
	margin: 0;
	font-size: 13px;
	color: var(--obs-text-subtle);
	font-weight: bold;
	text-align: right;
}

.obsidian-tab-container > div:is(.obsidian-spell-tab-toggle, .obsidian-equipment-tab-toggle) {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	cursor: pointer;
	background: transparent;
}

.obsidian-tab-container > div:is(.obsidian-spell-tab-toggle, .obsidian-equipment-tab-toggle):hover {
	background: rgb(255 255 255 / 10%);
}

.npc .obsidian-tab-container.obsidian-npc-stats > .obsidian-scrollable {
	padding: 0 37px 0 16px;
}

:is(.obsidian-spell-tab-toggle, .obsidian-equipment-tab-toggle) object {
	width: 15px;
	height: 15px;
}

.npc form.obsidian {
	position: relative;
}

.dnd5e.sheet form .tab.obsidian-tab-container.obsidian-floating-tab {
	position: absolute;
	top: 0;
	right: -410px;
	width: 400px;
	background: var(--obs-bg);
	height: 100%;
	padding-top: 10px;
	border-radius: 5px;
	box-shadow: 0 0 20px var(--color-shadow-dark);
}

.obsidian-vehicle-threshold-row {
	justify-content: flex-start;
}

.obsidian-vehicle-threshold-row > span {
	margin-right: 16px;
	font-weight: bold;
	font-size: 12px;
	color: var(--obs-text-secondary);
	text-transform: uppercase;
}

.obsidian-vehicle-threshold-row > span.obsidian-binary-operator {
	font-size: 16px;
}

.obsidian-vehicle-component s {
	color: var(--obs-text-subtle);
}

.obsidian-attack-line + .obsidian-feature-footer {
	border-top: none;
}

.obsidian-vehicle-component + .obsidian-table-sub-text {
	margin: -4px 0 4px 0;
}

.dnd5e.sheet .obsidian-npc-btn-row select {
	min-width: 168px;
	font-size: 14px;
	margin-bottom: 8px;
}

.obsidian-layout {
	--obs-grid-size: 48px;
	--obs-grid-gap: 12px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.obsidian-layout-group {
	position: absolute;
	border-radius: 6px;
	background: rgb(0 0 0 / 17%);
	overflow: hidden;
	box-shadow: 0 0 5px 3px rgb(0 0 0 / 32%)
}

.obsidian-layout-item {
	position: absolute;
	cursor: pointer;
}

.obsidian-layout-item img {
	border-radius: 6px;
	border: 2px ridge var(--obs-mid);
	position: relative;
	z-index: 2;
	background: rgb(0 0 0 / 80%);
}

.obsidian-layout-item-stacked::before,
.obsidian-layout-item-stacked::after {
	content: '';
	position: absolute;
	width: var(--obs-grid-size);
	height: var(--obs-grid-size);
	background: var(--obs-mid);
	border: 2px ridge var(--obs-mid);
	border-radius: 6px;
	box-sizing: border-box;
}

.obsidian-layout-item-stacked::before {
	top: 2px;
	left: 2px;
	z-index: 1;
}

.obsidian-layout-item-stacked::after {
	top: 4px;
	left: 4px;
	z-index: 0;
}

.obsidian-layout-group img {
	width: 64px;
	height: 64px;
	filter: grayscale(1);
	opacity: .1;
	position: absolute;
	top: calc(50% - 64px / 2);
	left: calc(50% - 64px / 2);
}

.obsidian-layout-group header {
	cursor: move;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--obs-grid-size);
	position: relative;
}

.obsidian-layout-group h1 {
	font-size: 16px;
	color: var(--obs-text-secondary);
	font-weight: bold;
	font-family: var(--obs-font);
	font-variant: small-caps;
	border: none;
	margin: 0;
	padding: 0;
}

.obsidian-layout-group footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	text-align: right;
}

.obsidian-layout-delete-group {
	top: 10px;
	right: 10px;
	position: absolute;
}

.obsidian-layout-resize-group {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	cursor: nw-resize;
}

.obsidian-layout-resize-group::before {
	content: '';
	width: 18px;
	height: 18px;
	border-bottom: 1px solid var(--obs-mid);
	display: inline-block;
	transform: rotate(315deg);
	position: absolute;
	top: -5px;
	left: -4px;
}

.obsidian-layout-resize-group::after {
	content: '';
	width: 11px;
	height: 11px;
	border-bottom: 1px solid var(--obs-mid);
	display: inline-block;
	transform: rotate(315deg);
	position: absolute;
	top: 4px;
	left: 5px;
}

.obsidian-tab-container > div.obsidian-layout-add-group,
.obsidian-layout-item-controls > div {
	font-size: 20px;
	color: var(--obs-text-subtle);
	display: none;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border-radius: 6px;
	background: rgb(0 0 0 / 70%);
	border: 1px solid var(--obs-mid);
	position: absolute;
	bottom: 10px;
	right: 21px;
	cursor: pointer;
}

.obsidian-layout-item-controls {
	position: absolute;
	width: var(--obs-grid-size);
	height: var(--obs-grid-size);
	right: calc(var(--obs-grid-size) * -1 - 8px);
	top: 0;
	display: none;
	--obs-item-controls-gap: 2px;
	--obs-item-controls-size: calc(var(--obs-grid-size) / 2 - var(--obs-item-controls-gap));
	grid-template: repeat(2, var(--obs-item-controls-size)) / repeat(2, var(--obs-item-controls-size));
	grid-gap: var(--obs-item-controls-gap);
	z-index: 3;
}

.obsidian-layout-item-qty {
	display: none;
	position: absolute;
	top: 0;
	left: calc(var(--obs-grid-size) * -1 - 4px);
	width: calc(var(--obs-grid-size) - 4px);
	height: calc(var(--obs-grid-size) - 4px);
	z-index: 3;
}

.dnd5e.sheet .obsidian-layout-item-qty input {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(0 0 0 / 70%);
	border: 1px solid var(--obs-mid);
	border-radius: 6px;
	color: var(--obs-text-regular);
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.obsidian-layout-item-controls > div {
	font-size: 10px;
	position: unset;
	display: flex;
	padding: 0;
}

.obsidian-layout-item-controls > div.obsidian-layout-item-qty-split {
	font-size: 8px;
}

.obsidian-tab-container > div.obsidian-layout-add-group:active,
.obsidian-layout-item-controls > div:active {
	background: var(--obs-dark);
	border-color: var(--obs-light);
}
