<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="actions">
	<ul class="obsidian-tab-bar" data-group="actions-tabs">
		<li class="obsidian-sub-tab item" data-tab="attacks">{{localize 'OBSIDIAN.Attacks'}}</li>
		<li class="obsidian-sub-tab item" data-tab="actions">{{localize 'OBSIDIAN.Actions'}}</li>
		<li class="obsidian-sub-tab item" data-tab="bonus-actions">{{localize 'OBSIDIAN.BonusActions'}}</li>
		<li class="obsidian-sub-tab item" data-tab="reactions">{{localize 'OBSIDIAN.Reactions'}}</li>
		<li class="obsidian-sub-tab item" data-tab="other">{{localize 'OBSIDIAN.FeatAction.special'}}</li>
	</ul>
	{{> modules/obsidiangenefunk/html/tabs/attacks.html}}
	{{> modules/obsidiangenefunk/html/tabs/sub-actions.html group='actions' action='action'
			title='OBSIDIAN.Actions'}}
  {{> modules/obsidiangenefunk/html/tabs/sub-actions.html group='bonus-actions' action='bonus'
		  title='OBSIDIAN.BonusActions'}}
  {{> modules/obsidiangenefunk/html/tabs/sub-actions.html group='reactions' action='reaction'
		  title='OBSIDIAN.Reactions'}}
  {{> modules/obsidiangenefunk/html/tabs/sub-actions.html group='other' action='special'
		  title='OBSIDIAN.FeatAction.special'}}
</div>
