<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="features">
	<ul class="obsidian-tab-bar" data-group="feats-tabs">
		<li class="obsidian-sub-tab item" data-tab="class">{{localize 'OBSIDIAN.ClassFeatures'}}</li>
		<li class="obsidian-sub-tab item" data-tab="race">{{localize 'OBSIDIAN.RacialTraits'}}</li>
		<li class="obsidian-sub-tab item" data-tab="feat">{{localize 'OBSIDIAN.Feats'}}</li>
		<li class="obsidian-sub-tab item" data-tab="upgrade">{{localize 'OBSIDIAN.UpgradeAbilities'}}</li>
		<li class="obsidian-sub-tab item" data-tab="other">{{localize 'OBSIDIAN.Other'}}</li>
	</ul>
	{{> modules/obsidiangenefunk/html/tabs/sub-features.html group='class' active='passive'
			title='OBSIDIAN.ClassFeatures'}}
	{{> modules/obsidiangenefunk/html/tabs/sub-features.html group='race' active='passive'
			title='OBSIDIAN.RacialTraits'}}
	{{> modules/obsidiangenefunk/html/tabs/sub-features.html group='feat' active='passive'
			title='OBSIDIAN.Feats'}}
	{{> modules/obsidiangenefunk/html/tabs/sub-features.html group='upgrade' active='passive'
			title='OBSIDIAN.UpgradeAbilities'}}
	{{> modules/obsidiangenefunk/html/tabs/sub-features.html group='other' active='passive'
			title='OBSIDIAN.Other'}}
</div>
