<div class="obsidian-tab-container tab {{#if isNPC}}obsidian-floating-tab{{/if}}"
     data-group="main-tabs" data-tab="spells">
	<div class="obsidian-char-spell-header">
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.obsidian.spellcasting.mods}}
					<span>{{numberFormat this decimals=0 sign=true}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.Modifier'}}</div>
		</div>
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.obsidian.spellcasting.attacks}}
					<span>{{numberFormat this decimals=0 sign=true}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.SpellAttack'}}</div>
		</div>
		<div>
			<div class="obsidian-table-number-lg">
				{{#each actor.obsidian.spellcasting.saves}}
					<span>{{this}}</span>
				{{/each}}
			</div>
			<div class="obsidian-char-spell-header-label">{{localize 'OBSIDIAN.SaveDC'}}</div>
		</div>
		<a class="obsidian-edit obsidian-simple-dialog" data-template="spellcasting.html"
		   data-title="{{obs-i18n 'ManageSpellcasting'}}" data-width="450"
		   title="{{obs-i18n 'ManageSpellcasting'}}">
			<i class="fas fa-cog"></i>
		</a>
	</div>
	<div class="obsidian-char-spell-search">
		<div class="obsidian-input-search-container">
			<input type="text" class="obsidian-input-search obsidian-search-spell-name"
			       placeholder="{{localize 'OBSIDIAN.SpellName'}}...">
			<i class="fas fa-search"></i>
			<span class="obsidian-clear-search obsidian-clear-spell-name">&times;</span>
		</div>
		{{#unless isNPC}}
		<button type="button" class="obsidian-btn-sm obsidian-btn-sheet obsidian-btn-outline
		        obsidian-manage-spells">
			{{localize 'OBSIDIAN.ManageSpells'}}
		</button>
		{{/unless}}
	</div>
	<ul class="obsidian-tab-bar" data-group="spells">
		<li class="obsidian-sub-tab item" data-tab="spell-all">{{localize 'OBSIDIAN.All'}}</li>
		{{#each (range 0 9)}}
			{{#if (has-spells ../actor ../spellbook this)}}
				<li class="obsidian-sub-tab item obsidian-spell-level-tab" data-tab="spell-{{this}}">
					{{spell-level-format this}}
				</li>
			{{/if}}
		{{/each}}
		{{#if (not-empty actor.obsidian.spellbook.concentration)}}
			<li class="obsidian-sub-tab item obsidian-spell-level-tab obsidian-icon-tab"
			    data-tab="spell-concentration">
				<div class="obsidian-css-icon obsidian-css-icon-xs obsidian-css-icon-circle
					obsidian-css-icon-regular" title="{{localize 'OBSIDIAN.Concentration'}}">
					{{localize 'OBSIDIAN.ConcentrationAbbr'}}
				</div>
			</li>
		{{/if}}
		{{#if (not-empty actor.obsidian.spellbook.rituals)}}
			<li class="obsidian-sub-tab item obsidian-spell-level-tab obsidian-icon-tab"
			    data-tab="spell-ritual">
				<div class="obsidian-css-icon obsidian-css-icon-xs obsidian-css-icon-circle
					obsidian-css-icon-regular" title="{{localize 'OBSIDIAN.Ritual'}}">
					{{localize 'OBSIDIAN.RitualAbbr'}}
				</div>
			</li>
		{{/if}}
		<a title="{{localize 'OBSIDIAN.AddCustomSpell'}}" class="obsidian-edit obsidian-add-spell">
			<i class="fas fa-plus-circle"></i>
		</a>
	</ul>
	{{> modules/obsidiangenefunk/html/tabs/sub-spells.html}}
</div>
