<form class="obsidian" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Currency'}}</legend>
		{{#each data.currency}}
			{{#if (or (or (eq @key "gp") (eq @key "sp")) (eq @key "cp"))}}
			<div class="obsidian-form-row obsidian-currency-row">
				<div>
					<div class="obsidian-icon obsidian-icon-sm obsidian-icon-{{@key}}"></div>
					<input type="text" class="obsidian-input-num-lg" name="data.currency.{{@key}}"
					       data-dtype="Number" placeholder="0"
					       value="{{get-property ../data.currency @key}}">
					<input type="text" class="obsidian-add-remove" data-key="{{@key}}"
					       placeholder="{{localize 'OBSIDIAN.AddRemove'}}" style="width: 200px;">
				</div>
			</div>
			{{/if}}
		{{/each}}
	</fieldset>
</form>
