<form class="obsidian obsidian-form-bare" autocomplete="off" onsubmit="event.preventDefault();">
	<div class="form-group">
		<label>{{localize 'OBSIDIAN.ClassTitle'}}</label>
		<select name="cls" data-selector="cls" style="margin-bottom: 4px;">
			{{#each ObsidianLabels.Class}}
				<option value="{{@key}}">{{obs-i18n 'Class' this}}</option>
			{{/each}}
			<option value="custom">{{obs-i18n 'Custom'}}</option>
		</select>
	</div>
	<div class="form-group" data-selector-parent="cls" data-show="custom">
		<label>{{localize 'OBSIDIAN.CustomName'}}</label>
		<input type="text" name="custom" class="obsidian-input-lg">
	</div>
	<div class="obsidian-btn-row">
		<button type="button" class="obsidian-btn-outline">
			<i class="fas fa-check"></i>
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</div>
</form>
