<form class="obsidian" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Creature'}}</legend>
		<div class="obsidian-form-row">
			<div>
				<label>
					{{localize 'OBSIDIAN.SizeTitle'}}
					<select name="data.traits.size">
						{{selectOptions config.actorSizes selected=data.traits.size}}
					</select>
				</label>
				<label>
					{{localize 'OBSIDIAN.Type'}}
					<select name="data.details.type.value">
						{{selectOptions ObsidianLabels.CreatureType selected=data.details.type.value}}
					</select>
				</label>
				<label>
					{{localize 'OBSIDIAN.AlignmentTitle'}}
					<select name="flags.obsidian.details.alignment1">
						{{selectOptions ObsidianLabels.AlignmentPt1 blank='&mdash;'
						                selected=actor.flags.obsidian.details.alignment1}}
					</select>
					<select name="flags.obsidian.details.alignment2">
						{{selectOptions ObsidianLabels.AlignmentPt2 blank='&mdash;'
						                selected=actor.flags.obsidian.details.alignment2}}
					</select>
				</label>
			</div>
		</div>
		<div class="obsidian-form-row obsidian-stacked-row">
			<div>
				{{fancy-checkbox 'flags.obsidian.details.swarm' content='DND5E.CreatureSwarm'
				                 selector='swarm' checked=actor.flags.obsidian.details.swarm}}
				<select name="data.details.type.swarm" style="margin-left: 10px;"
				        data-selector-parent="swarm">
					{{selectOptions config.actorSizes selected=data.details.type.swarm blank='&mdash;'}}
				</select>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Tags'}}</legend>
		<div class="obsidian-checkbox-grid">
			{{#each ObsidianConfig.CREATURE_TAGS}}
				{{fancy-checkbox 'flags.obsidian.details.tags' this
				                 content=(add 'OBSIDIAN.CreatureTag.' this)
				                 checked=(lookup ../actor.flags.obsidian.details.tags this)}}
			{{/each}}
		</div>
		<div class="obsidian-form-row">
			<input type="text" class="obsidian-input-max" placeholder="{{localize 'OBSIDIAN.Custom'}}"
			       name="data.details.type.subtype"
			       value="{{data.details.type.subtype}}">
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Details'}}</legend>
		<div class="obsidian-checkbox-grid">
				{{fancy-checkbox 'flags.obsidian.details.narrative' content='OBSIDIAN.NarrativeNPC'
				                 checked=actor.flags.obsidian.details.narrative}}
		</div>
	</fieldset>
</form>
