<form class="obsidian" autocomplete="off">
	<details>
		<summary>
			<h3>{{localize 'OBSIDIAN.CustomSpells'}} ({{count actor.obsidian.spells.custom}})</h3>
			<i class="fas fa-angle-down"></i>
		</summary>
		{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Remove'
				spells=actor.obsidian.spells.custom btnClass='obsidian-rm-spell' filter=false}}
	</details>
	{{#each actor.obsidian.classes}}
		{{#if (not-empty (lookup ../spellsByClass obsidian.spellcasting.list))}}
			<h2 data-class-id="{{_id}}">{{obsidian.label}}</h2>
			{{#if (eq obsidian.spellcasting.preparation 'prep')}}
				{{#with (lookup ../actor.obsidian.spells obsidian.spellcasting.list)}}
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.KnownSpells'}}</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Prepare'
								btnActive='OBSIDIAN.Prepared' filter=true active=prepared
								spellList=../obsidian.spellcasting.list
								spells=(lookup ../../spellsByClass ../obsidian.spellcasting.list)
								totalCantrips=../obsidian.spellcasting.totalCantrips
								maxCantrips=../obsidian.spellcasting.maxCantrips
								totalPrepared=../obsidian.spellcasting.totalPrepared
								maxPrepared=../obsidian.spellcasting.maxPrepared
								btnCantrip='OBSIDIAN.Learn' btnCantripActive='OBSIDIAN.Remove'}}
					</details>
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.PreparedSpells'}} ({{count prepared}})</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Unprepare'
								filter=false spells=prepared btnCantrip='OBSIDIAN.Remove'}}
					</details>
				{{/with}}
			{{else if (eq obsidian.spellcasting.preparation 'known')}}
				{{#with (lookup ../actor.obsidian.spells obsidian.spellcasting.list)}}
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.AddSpells'}}</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Learn'
								btnActive='OBSIDIAN.Remove' filter=true active=known
								totalKnown=../obsidian.spellcasting.totalKnown
								spells=(lookup ../../spellsByClass ../obsidian.spellcasting.list)
							  spellList=../obsidian.spellcasting.list
								totalCantrips=../obsidian.spellcasting.totalCantrips
								maxCantrips=../obsidian.spellcasting.maxCantrips
								maxKnown=../obsidian.spellcasting.maxKnown}}
					</details>
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.KnownSpells'}} ({{count known}})</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Remove'
								btnClass='obsidian-rm-spell' filter=false spells=known}}
					</details>
				{{/with}}
			{{else if (eq obsidian.spellcasting.preparation 'book')}}
				{{#with (lookup ../actor.obsidian.spells obsidian.spellcasting.list)}}
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.AddSpells'}}</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Learn' active=book
								btnActive='OBSIDIAN.Remove' filter=true spellList=../obsidian.spellcasting.list
								spells=(lookup ../../spellsByClass ../obsidian.spellcasting.list)
								totalCantrips=../obsidian.spellcasting.totalCantrips
								maxCantrips=../obsidian.spellcasting.maxCantrips}}
					</details>
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.PreparedSpells'}} ({{count prepared}})</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Unprepare'
								filter=false spells=prepared btnCantrip='OBSIDIAN.Remove'}}
					</details>
					<details>
						<summary>
							<h3>{{localize 'OBSIDIAN.Spellbook'}}</h3>
							<i class="fas fa-angle-down"></i>
						</summary>
						{{> modules/obsidiangenefunk/html/components/spell-list.html btn='OBSIDIAN.Prepare'
								btnActive='OBSIDIAN.Prepared' filter=true spells=book active=prepared
								totalCantrips=../obsidian.spellcasting.totalCantrips
								maxCantrips=../obsidian.spellcasting.maxCantrips
								totalPrepared=../obsidian.spellcasting.totalPrepared
								maxPrepared=../obsidian.spellcasting.maxPrepared
								btnCantripActive='OBSIDIAN.Remove'}}
					</details>
				{{/with}}
			{{/if}}
		{{/if}}
	{{/each}}
</form>
