<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{obs-i18n 'Handling'}}</legend>
		<div class="obsidian-form-row">
			<div>
				<label>
					<input type="text" name="flags.obsidian.attributes.handling" data-dtype="Number"
					       value="{{actor.flags.obsidian.attributes.handling}}" placeholder="0"
					       class="obsidian-input-num-md">
				</label>
			</div>
		</div>
	</fieldset>
</form>
