<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{obs-i18n 'Mass'}}</legend>
		<div class="obsidian-form-row">
			<div>
				<label>
					<input type="text" name="flags.obsidian.attributes.mass" data-dtype="Number"
					       value="{{actor.flags.obsidian.attributes.mass}}" placeholder="0"
					       class="obsidian-input-num-lg">
					<span>{{obs-i18n 'Tons'}}</span>
				</label>
			</div>
		</div>
	</fieldset>
</form>
