<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{obs-i18n 'Fuel'}}</legend>
		<div class="obsidian-form-row">
			<div>
				<label>
					<input type="text" name="flags.obsidian.attributes.fuel.value" data-dtype="Number"
					       value="{{actor.flags.obsidian.attributes.fuel.value}}" placeholder="0"
					       class="obsidian-input-num-lg">
					<span class="obsidian-binary-operator" style="color: var(--obs-text-subtle);">&sol;</span>
					<input type="text" name="flags.obsidian.attributes.fuel.max" data-dtype="Number"
					       value="{{actor.flags.obsidian.attributes.fuel.max}}" placeholder="0"
					       class="obsidian-input-num-lg">
					<span>{{obs-i18n 'MilesAbbr'}}</span>
				</label>
			</div>
		</div>
	</fieldset>
</form>
