<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{obs-i18n 'TravelPace'}}</legend>
		<div class="obsidian-form-row">
			<label>
				<input type="text" name="data.attributes.movement.walk" data-dtype="Number"
				       value="{{data.attributes.movement.walk}}" placeholder="0"
				       class="obsidian-input-num-lg">
				<span>{{obs-i18n 'MilesPerHour'}}</span>
			</label>
		</div>
	</fieldset>
</form>
