<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Recoil'}}</legend>
	<div class="obsidian-form-row">
		<div>
			<label>
				<input type="text" class="obsidian-input-num-sm" data-dtype="Number" placeholder="0"
				       name="{{prefix}}.base" value="{{base}}">
				<span>{{localize 'OBSIDIAN.BaseRecoil'}}</span>
			</label>
		</div>
	</div>
	<div class="obsidian-form-row">
		<div>
			<label>
				<input type="text" class="obsidian-input-num-sm" data-dtype="Number" placeholder="0"
				       name="{{prefix}}.bonus" value="{{bonus}}">
				<span>{{localize 'OBSIDIAN.Bonus'}}</span>
			</label>
		</div>
	</div>
	<div class="obsidian-form-row">
		<div>
			{{fancy-checkbox prefix 'twohands' content='OBSIDIAN.TwoHands' checked=twohands}}
		</div>
	</div>
	<div class="obsidian-form-row">
		<div>
			{{fancy-checkbox prefix 'bipod' content='OBSIDIAN.Bipod' checked=bipod}}
		</div>
	</div>
	<div class="obsidian-form-row">
		<div>
			{{fancy-checkbox prefix 'mountreq' content='OBSIDIAN.MountReq' checked=mountreq}}
		</div>
	</div>
	<div class="obsidian-form-row">
		<div>
			{{fancy-checkbox prefix 'mounted' content='OBSIDIAN.Mounted' checked=mounted}}
		</div>
	</div>
</fieldset>
