<div class="obsidian-vertical-bisect obsidian-dice-drop-target" data-mode="{{mode}}">
	<div class="obsidian-msg-dmg-title">{{localize title}}</div>
	{{#each results}}
		<div class="{{#if (user-can-apply-rolls)}}obsidian-msg-row-dmg{{else}}obsidian-msg-row{{/if}}">
		{{#if (user-can-apply-rolls)}}<div>{{/if}}
			<div class="obsidian-msg-roll-box" draggable="true" data-value="{{total}}"
			     data-dmg="{{type}}">
				{{total}}
			</div>
			<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
			{{#if type}}
				<div class="obsidian-icon-sm obsidian-icon-{{type}}"
				     title="{{obs-i18n 'Damage' type}}"></div>
			{{/if}}
		{{#if (user-can-apply-rolls)}}</div>{{/if}}
		{{#if (user-can-apply-rolls)}}
		<div title="{{localize 'OBSIDIAN.Apply'}}" data-dmg="{{total}}" data-type="{{type}}"
		     data-apply-dmg="true">
			<i class="fas fa-check"></i>
		</div>
		{{/if}}
	</div>
	{{/each}}
	<div class="{{#if (user-can-apply-rolls)}}obsidian-msg-row-dmg{{else}}obsidian-msg-row{{/if}}">
		<div class="obsidian-msg-roll-box obsidian-msg-wide-box" title="{{localize 'OBSIDIAN.Total'}}"
		     draggable="true" data-json="{{dmg-serialise results}}">
			{{total}}
		</div>
		{{#if (user-can-apply-rolls)}}
		<div title="{{localize 'OBSIDIAN.Apply'}}" data-apply-all="true">
			<i class="fas fa-check"></i>
		</div>
		{{/if}}
	</div>
</div>
