<fieldset>
	<legend>{{obs-i18n 'ItemType' item.type}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row">
				<div>
					<input type="text" class="obsidian-input-lg" name="name" value="{{item.name}}"
					       placeholder="{{localize 'OBSIDIAN.Name'}}">
					<select name="flags.obsidian.subtype" data-selector="subtype">
						{{#select item.flags.obsidian.subtype}}
							{{#each equipTypes}}
								<option value="{{this}}">{{obs-i18n 'ItemType' this}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row">
				<div>
					{{> modules/obsidiangenefunk/html/components/parts/weight-cost.html}}
					{{fancy-checkbox 'flags.obsidian.attunement' content='OBSIDIAN.RequiresAttunement'
					                 checked=item.flags.obsidian.attunement}}
				</div>
			</div>
		</div>
	</div>
	{{#if (eq item.flags.obsidian.subtype 'vehicle')}}
		{{> modules/obsidiangenefunk/html/components/mountable.html}}
	{{/if}}
	{{> modules/obsidiangenefunk/html/components/parts/magic.html}}
</fieldset>
{{#unless (eq item.flags.obsidian.subtype 'vehicle')}}
<fieldset {{disabled (not item.flags.obsidian.armour)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.armour' content='OBSIDIAN.ItemType.armour'
		                 checked=item.flags.obsidian.armour}}
	</legend>
	<div class="obsidian-form-row">
		<div>
			<select name="data.armor.type">
				{{selectOptions ObsidianLabels.ArmourType selected=item.data.armor.type}}
			</select>
			<label>
				<input type="text" class="obsidian-input-num-sm" name="data.armor.value" data-dtype="Number"
				       value="{{item.data.armor.value}}" placeholder="0">
				<span>{{localize 'OBSIDIAN.ACAbbr'}}</span>
			</label>
			{{fancy-checkbox 'flags.obsidian.addDex' content='OBSIDIAN.AddDexMod' selector='add-dex'
                       checked=item.flags.obsidian.addDex}}
			<label data-selector-parent="add-dex">
				<input type="text" class="obsidian-input-num-sm" data-dtype="Number" name="data.armor.dex"
				       value="{{data.armor.dex}}">
				<span>{{localize 'OBSIDIAN.Maximum'}}</span>
			</label>
			<label>
				<input type="text" class="obsidian-input-num-sm" name="flags.obsidian.resistance" data-dtype="Number"
				       value="{{item.flags.obsidian.resistance}}" placeholder="0">
				<span>{{localize 'OBSIDIAN.DRAbbr'}}</span>
			</label>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row">
		<div>
			<label>
				<input type="text" class="obsidian-input-num-sm" data-dtype="Number" name="data.strength"
				       value="{{item.data.strength}}">
				<span>{{localize 'OBSIDIAN.MinStr'}}</span>
			</label>
			{{fancy-checkbox 'data.stealth' content='OBSIDIAN.StealthDisadvantage'
			                 checked=item.data.stealth}}
		</div>
	</div>
</fieldset>
{{/unless}}
