{{#each (sort feats 'name' alreadySorted) as |feat idx|}}
	<div class="obsidian-feature item" data-item-id="{{feat._id}}" draggable="true">
		{{#if (and ../heading (eq idx 0))}}
			<h3>{{localize ../heading}} {{format-legendary ../legendary}}</h3>
			{{#if ../subtext}}
				<div class="obsidian-rules-text">{{localize ../subtext}}</div>
			{{/if}}
		{{/if}}
		<div class="obsidian-feature-header">
			<div>
				<h4 class="rollable" data-roll="item" data-id="{{feat._id}}">
					{{feat.name}}
				</h4>
				{{#if (and feat.data.cover (gt feat.data.cover 0))}}
				<div class="obsidian-feature-recharge"> &bull; {{format-cover feat.data.cover}}</div>
				{{/if}}
				<div class="obsidian-feature-recharge">{{{format-recharge @root.actor feat bull=true}}}</div>
			</div>
			{{#if (and (eq feat.type 'weapon') feat.flags.obsidian.tags.ammunition)}}
				<select name="items.{{feat.idx}}.flags.obsidian.ammo" class="obsidian-select-crew">
					{{#select feat.flags.obsidian.ammo}}
						<option value="">{{obs-i18n 'AtkTag' 'ammunition'}}</option>
						{{#each @root.actor.obsidian.ammo}}
							<option value="{{_id}}">{{name}}</option>
						{{/each}}
					{{/select}}
				</select>
			{{/if}}
			{{format-uses @root.actor feat}}
		</div>
		{{#unless @root.isCharacter}}
		{{#each feat.obsidian.collection.attack}}
		{{#unless (and hasRecoil (gt targets 1))}}
		<div class="obsidian-attack-line">
			<div class="obsidian-col-icon">
				{{#if (eq parentItem.type 'spell')}}
					<div class="obsidian-icon obsidian-icon-school-{{parentItem.data.school}}"></div>
				{{else if (eq parentItem.type 'weapon')}}
					<div data-component-id="{{uuid}}" class="
						{{#if (is-attack-toggleable this)}}
							obsidian-attack-toggle
						{{/if}} obsidian-icon obsidian-icon-{{mode}}">
					</div>
				{{else}}
					<div class="obsidian-icon obsidian-icon-{{attack}}"></div>
				{{/if}}
			</div>

			<div class="obsidian-col-attack-line">
				{{#if (eq mode 'ranged')}}
					<div class="obsidian-table-number-md">
						{{parentItem.data.range.value}}
						{{#if parentItem.data.range.long}}
							<span class="obsidian-table-number-subtle">&sol;</span>
							<span class="obsidian-table-number-subtle">{{parentItem.data.range.long}}</span>
						{{/if}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
				{{else if (eq parentItem.type 'spell')}}
					{{#if (or (eq parentItem.flags.obsidian.range.type 'short') (eq parentItem.flags.obsidian.range.type 'long'))}}
						<div class="obsidian-table-number-md">
							{{parentItem.flags.obsidian.range.n}}
							<span class="obsidian-table-unit">
								{{obs-i18n 'SpellRangeAbbr' parentItem.flags.obsidian.range.type}}
							</span>
						</div>
					{{else if (eq parentItem.flags.obsidian.range.type 'unlimited')}}
						<div class="obsidian-table-number-md">&infin;</div>
					{{else}}
						<div class="obsidian-table-text">
							{{obs-i18n 'SpellRange' parentItem.flags.obsidian.range.type}}
						</div>
					{{/if}}
				{{else if (eq parentItem.type 'weapon')}}
					<div class="obsidian-table-number-md">
						{{parentItem.obsidian.attributes.reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
				{{else}}
					{{#if (eq attack 'ranged')}}
					<div class="obsidian-table-number-md">
						{{range1}}
						{{#if range2}}
							<span class="obsidian-table-number-subtle">&sol;</span>
							<span class="obsidian-table-number-subtle">{{range2}}</span>
						{{/if}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					{{else}}
					<div class="obsidian-table-number-md">
						{{reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="obsidian-col-attack-line">
				<div class="obsidian-table-number-md">
					{{numberFormat value decimals=0 sign=true}}
				</div>
			</div>
			<div class="obsidian-col-attack-line">
				<div class="obsidian-table-dmg">
					{{#each (which-damage parentItem this)}}
						<div class="obsidian-dmg-component">
							<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
							     title="{{obs-i18n 'Damage' damage}}"></div>
							{{display}}
						</div>
					{{/each}}
				</div>
			</div>
			<div class="obsidian-col-notes">
				<div class="obsidian-table-note-text">{{target}}</div>
			</div>
		</div>
		{{/unless}}
		{{/each}}
		{{/unless}}
		{{#unless feat.flags.obsidian.collapsed}}
		{{#if feat.obsidian.display}}
		<div class="obsidian-feature-body">{{{clean-formatting feat.obsidian.display}}}</div>
		{{/if}}
		{{/unless}}
		<div class="obsidian-feature-footer obsidian-collapsed">
			<a title="
				{{#if feat.flags.obsidian.collapsed}}
					{{obs-i18n 'Expand'}}
				{{else}}
					{{obs-i18n 'Collapse'}}
				{{/if}}" class="obsidian-expand-collapse" data-item-id="{{feat._id}}">
				{{#if feat.flags.obsidian.collapsed}}
					{{obs-i18n 'Expand'}}
				{{else}}
					{{obs-i18n 'Collapse'}}
				{{/if}}
				<i class="fas fa-exchange-alt fa-rotate-90"></i>
			</a>
			<a title="{{localize 'OBSIDIAN.ViewFeature'}}" class="obsidian-view"
			   data-item-id="{{feat._id}}">
				{{localize 'OBSIDIAN.View'}}
				<i class="fas fa-eye"></i>
			</a>
			{{#if @root.editable}}
			<a title="{{localize 'OBSIDIAN.EditFeature'}}" class="obsidian-edit item-edit">
				{{localize 'OBSIDIAN.Edit'}}
				<i class="fas fa-cog"></i>
			</a>
			<a title="{{localize 'OBSIDIAN.Delete'}}" class="obsidian-delete">
				{{localize 'OBSIDIAN.Delete'}}
				<i class="fas fa-trash"></i>
			</a>
			{{/if}}
		</div>
	</div>
{{/each}}
