{{#each data.abilities as |save id|}}
	{{#unless (and (eq ../actor.data.details.type.value 'ai') (or (eq @key 'str') (or (eq @key 'dex') (eq @key 'con'))))}}
	{{#with (lookup ../actor.flags.obsidian.saves id)}}
		<div class="obsidian-save-item" data-value="{{id}}">
			<div class="obsidian-radio obsidian-ptr
				{{#if (eq 0.5 save.proficient)~}}
					obsidian-half-proficient
				{{~else if (eq 1 save.proficient)~}}
					obsidian-proficient
				{{~else if (eq 2 save.proficient)~}}
					obsidian-expertise
				{{~/if~}}">
				<span></span>
			</div>
			<div class="obsidian-save-name rollable" data-roll="save" data-save="{{id}}" draggable="true">
				{{obs-i18n 'Ability' id}}
			</div>
			{{#if @root.dialogOptions.npc}}
				<input type="text" name="flags.obsidian.saves.{{id}}.override" data-dtype="Number"
				       value="{{override}}" placeholder="&mdash;">
			{{else}}
				<div class="obsidian-save-mod obsidian-ptr" title="{{localize 'OBSIDIAN.ManageSave'}}">
					{{numberFormat save.save decimals=0 sign=true}}
				</div>
			{{/if}}
		</div>
	{{/with}}
	{{/unless}}
{{/each}}
