<fieldset>
	<legend>{{obs-i18n 'ItemType' item.type}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row">
				<div>
					<input class="obsidian-input-lg" type="text" name="name" value="{{item.name}}"
					       placeholder="{{localize 'OBSIDIAN.Name'}}">
					<select name="flags.obsidian.category">
						{{selectOptions ObsidianLabels.WeaponCat selected=item.flags.obsidian.category}}
					</select>
					<select name="flags.obsidian.type">
						{{selectOptions ObsidianLabels.AttackType selected=item.flags.obsidian.type}}
					</select>
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row">
				<div>
					{{> modules/obsidiangenefunk/html/components/parts/weight-cost.html}}
					{{fancy-checkbox 'flags.obsidian.attunement' content='OBSIDIAN.RequiresAttunement'
					                 checked=item.flags.obsidian.attunement}}
				</div>
			</div>
		</div>
	</div>
	{{#if (eq item.flags.obsidian.category 'siege')}}
		{{> modules/obsidiangenefunk/html/components/mountable.html}}
	{{/if}}
	<div class="obsidian-form-row obsidian-stacked-row">
		<div>
			<label class="obsidian-range-part">
				{{localize 'OBSIDIAN.Range'}}
				<input type="text" class="obsidian-input-num-md" data-dtype="Number" placeholder="&mdash;"
				       name="data.range.value" value="{{item.data.range.value}}">
			</label>
			<span class="obsidian-binary-operator obsidian-range-part">&sol;</span>
			<input type="text" class="obsidian-input-num-md obsidian-range-part" data-dtype="Number"
			       placeholder="&mdash;" name="data.range.long" value="{{item.data.range.long}}">
			{{fancy-checkbox 'flags.obsidian.consumeThrown' content='OBSIDIAN.ConsumeWhenThrown'
			                 checked=item.flags.obsidian.consumeThrown}}
		</div>
	</div>
	{{> modules/obsidiangenefunk/html/components/parts/magic.html}}
</fieldset>
<fieldset>
	<legend>{{localize 'OBSIDIAN.Tags'}}</legend>
	<div class="obsidian-checkbox-grid">
		{{#each ObsidianConfig.WEAPON_TAGS}}
			{{fancy-checkbox (add 'flags.obsidian.tags.' this) content=(add 'OBSIDIAN.AtkTag.' this)
			                 checked=(lookup ../item.flags.obsidian.tags this)}}
		{{/each}}
	</div>
	<div class="obsidian-form-row">
		<input type="text" class="obsidian-input-max" placeholder="{{localize 'OBSIDIAN.Custom'}}"
		       name="flags.obsidian.tags.custom" value="{{item.flags.obsidian.tags.custom}}">
	</div>
</fieldset>
