{{#if visible}}
<li class="chat-message message flexcol obsidian-msg" data-message-id="{{message._id}}">
	<header>
		<h4>
			{{#if message.flags.obsidian.npc}}<div class="obsidian-icon obsidian-icon-npc"></div>{{/if}}
			{{alias}}
		</h4>
		<span class="message-metadata">
			<time class="message-timestamp">{{timeSince message.timestamp}}</time>
			{{#if user.isGM}}
				<a class="button message-delete"><i class="fas fa-trash"></i></a>
			{{/if}}
		</span>
		{{#if isWhisper}}
			<span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
		{{/if}}
	</header>
	<section class="obsidian-msg-title">
		<div>
			{{message.flags.obsidian.title}}
			{{#if message.flags.obsidian.parens}}
				<span class="obsidian-msg-title-parens">({{message.flags.obsidian.parens}})</span>
			{{/if}}
		</div>
		{{#if message.flags.obsidian.subtitle}}
			<div class="obsidian-msg-sub-title">{{{message.flags.obsidian.subtitle}}}</div>
		{{/if}}
	</section>
	{{#if (or message.flags.obsidian.results message.flags.obsidian.exprs message.flags.obsidian.pools)}}
	<section>
		{{#each message.flags.obsidian.results}}
		<div class="obsidian-msg-row obsidian-dice-drop-target" data-index="{{@index}}">
			<div class="obsidian-msg-key">{{localize 'OBSIDIAN.RollTitle'}}:</div>
			<div class="obsidian-msg-value">
				{{#each this}}
					<div class="
					     {{#if positive}}obsidian-positive{{/if}}
					     {{#if negative}}obsidian-negative{{/if}}
					     {{#if grey}}obsidian-grey{{/if}}
					     obsidian-msg-roll-box" draggable="true" data-value="{{total}}">
						{{total}}
					</div>
					<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
		{{#if message.flags.obsidian.pools}}
		<div class="obsidian-msg-row">
			<div class="obsidian-msg-key">{{localize 'OBSIDIAN.RollTitle'}}:</div>
			<div class="obsidian-msg-value">
				{{#each message.flags.obsidian.pools.results}}
					<div class="obsidian-msg-roll-box" draggable="true" data-value="{{total}}"
					     data-flavour="{{@root.message.flags.obsidian.pools.flavour}}">
						{{total}}
					</div>
					<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{/each}}
			</div>
			<div class="obsidian-msg-flavour">{{message.flags.obsidian.pools.flavour}}</div>
		</div>
		{{/if}}
		{{#each message.flags.obsidian.exprs}}
		<div class="obsidian-msg-row">
			<div class="obsidian-msg-key">{{localize 'OBSIDIAN.RollTitle'}}:</div>
			<div class="obsidian-msg-value">
				<div class="obsidian-msg-roll-box" draggable="true" data-value="{{total}}"
				     data-flavour="{{flavour}}">
					{{total}}
				</div>
				<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
			</div>
			<div class="obsidian-msg-flavour">{{flavour}}</div>
		</div>
		{{/each}}
	</section>
	{{/if}}
	{{#if message.flags.obsidian.duration}}
	<div class="obsidian-msg-row">
		<div class="obsidian-msg-key">{{localize 'OBSIDIAN.RollTitle'}}:</div>
		<div class="obsidian-msg-value">
			<div class="obsidian-msg-roll-box">{{message.flags.obsidian.duration.total}}</div>
			<div class="obsidian-msg-tooltip">{{{message.flags.obsidian.duration.breakdown}}}</div>
		</div>
		<div class="obsidian-msg-flavour">{{lc (localize 'OBSIDIAN.DurationTitle')}}</div>
	</div>
	{{/if}}
	{{#if message.flags.obsidian.saves}}
	<section class="obsidian-msg-save">
		{{#each message.flags.obsidian.saves}}
		<div>
			<div class="obsidian-msg-save-dc">
				{{localize 'OBSIDIAN.DC'}}
				<div class="obsidian-msg-roll-box">{{dc}}</div>
				<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{target}} {{localize 'OBSIDIAN.Save'}}
				{{#if (user-can-apply-rolls)}}
					<div title="{{localize 'OBSIDIAN.Apply'}}" class="obsidian-apply-save"
					     data-index="{{@index}}">
						<i class="fas fa-check"></i>
					</div>
				{{/if}}
			</div>
			<div class="obsidian-msg-save-effect">{{effect}}</div>
		</div>
		{{/each}}
	</section>
	{{/if}}
	{{#if message.flags.obsidian.checks}}
	<section class="obsidian-msg-save">
		{{#each message.flags.obsidian.checks}}
		<div>
			<div class="obsidian-msg-save-dc">
				{{localize 'OBSIDIAN.DC'}}
				<div class="obsidian-msg-roll-box">{{dc}}</div>
				<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{target}} {{localize 'OBSIDIAN.CheckTitle'}}
				{{#if (user-can-apply-rolls)}}
					<div title="{{localize 'OBSIDIAN.Apply'}}" class="obsidian-apply-check"
					     data-index="{{@index}}">
						<i class="fas fa-check"></i>
					</div>
				{{/if}}
			</div>
			<div class="obsidian-msg-save-effect">{{skill}}</div>
		</div>
		{{/each}}
	</section>
	{{/if}}
	{{#if (and (or (defined message.flags.obsidian.dmgBtn) (defined message.flags.obsidian.aoe) (defined message.flags.obsidian.summon) message.flags.obsidian.start)
			      (or user.isGM (or (eq user.id author.id) (user-can-apply-rolls))))}}
	<section class="obsidian-msg-btn-row">
		{{#if (defined message.flags.obsidian.dmgBtn)}}
		<button type="button" class="obsidian-btn-outline" data-roll="dmg"
		        data-effect="{{message.flags.obsidian.dmgBtn}}"
		        data-count="{{message.flags.obsidian.dmgCount}}"
		        data-scaling="{{message.flags.obsidian.dmgScaling}}">
			<i class="fas fa-dice-d20"></i>
			{{localize 'OBSIDIAN.DamageTitle'}}
		</button>
		{{/if}}
		{{#if (defined message.flags.obsidian.aoe)}}
		<button type="button" class="obsidian-btn-outline obsidian-place-template"
		        data-scaling="{{message.flags.obsidian.upcast}}"
		        data-consumed="{{message.flags.obsidian.consumed}}"
		        data-spell-level="{{message.flags.obsidian.spellLevel}}">
			<i class="fas fa-bullseye"></i>
			{{localize 'OBSIDIAN.AreaOfEffect'}}
		</button>
		{{/if}}
		{{#if (defined message.flags.obsidian.summon)}}
		<button type="button" class="obsidian-btn-outline obsidian-summon"
		        data-upcast="{{message.flags.obsidian.upcast}}"
		        data-consumed="{{message.flags.obsidian.consumed}}"
			      data-spell-level="{{message.flags.obsidian.spellLevel}}">
			<i class="fas fa-dragon"></i>
			{{localize 'OBSIDIAN.Summon'}}
		</button>
		{{/if}}
		{{#if (and (not-empty triggers.hit) message.flags.obsidian.hit)}}
		{{#each triggers.hit}}
		<button type="button" class="obsidian-btn-outline" data-roll="item" data-id="{{_id}}">
			<i class="fas fa-dice-d20"></i>
			{{name}}
		</button>
		{{/each}}
		{{/if}}
		{{#if (and (not-empty triggers.start) message.flags.obsidian.start)}}
		{{#each triggers.start}}
		<button type="button" class="obsidian-btn-outline" data-roll="item" data-id="{{_id}}">
			<i class="fas fa-dice-d20"></i>
			{{name}}
		</button>
		{{/each}}
		{{/if}}
	</section>
	{{/if}}
	{{#if message.flags.obsidian.damage}}
	<section class="obsidian-msg-dmg">
		<div class="obsidian-grid-2-col">
			{{> modules/obsidiangenefunk/html/components/damage-format.html message.flags.obsidian.damage.hit
					title='OBSIDIAN.Hit' mode='hit'}}
			{{> modules/obsidiangenefunk/html/components/damage-format.html message.flags.obsidian.damage.crit
					title='OBSIDIAN.Crit' mode='crit'}}
		</div>
	</section>
	{{/if}}
	{{#if message.flags.obsidian.addendum}}
	<section class="obsidian-msg-addendum">
		<div class="obsidian-{{#if message.flags.obsidian.addendum.success}}positive{{else}}negative{{/if}}">
			{{message.flags.obsidian.addendum.label}}
		</div>
	</section>
	{{/if}}
	{{#if message.flags.obsidian.details}}
	<details {{#if (or popout message.flags.obsidian.open)}}open{{/if}}>
		<summary>{{localize 'OBSIDIAN.Details'}}</summary>
		{{#if (eq message.flags.obsidian.type 'spl')}}
			{{> modules/obsidiangenefunk/html/components/spell-card.html message.flags.obsidian.item
					view=false upcast=message.flags.obsidian.upcast details=message.flags.obsidian.details}}
		{{else}}
			{{{clean-formatting message.flags.obsidian.details}}}
		{{/if}}
	</details>
	{{/if}}
</li>
{{/if}}
