<form class="obsidian obsidian-main-form {{cssClass}}" autocomplete="off">
	<ul class="obsidian-tab-bar" data-group="main-tabs">
		<li class="obsidian-tab item" data-tab="desc">{{localize 'OBSIDIAN.Description'}}</li>
		<li class="obsidian-tab item" data-tab="stats">{{localize 'OBSIDIAN.Stats'}}</li>
		<li class="obsidian-tab item" data-tab="layout">{{localize 'OBSIDIAN.LayoutTitle'}}</li>
		<li class="obsidian-tab item" data-tab="effects">{{localize 'OBSIDIAN.Effects'}}</li>
	</ul>
	<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="desc">
		<div class="obsidian-scrollable">
		<section>
			<img class="obsidian-profile-img obsidian-ptr profile" src="{{actor.img}}"
			     title="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
		</section>
		<section>
			<h3>
				{{localize 'OBSIDIAN.Notes'}}
				<a class="obsidian-edit-npc-notes"><i class="fas fa-edit"></i></a>
			</h3>
			<div class="obsidian-rich-text">
				{{editor content=data.details.biography.value button=true editable=editable
				         target='data.details.biography.value'}}
			</div>
		</section>
		</div>
	</div>
	<div class="obsidian-tab-container obsidian-npc-stats tab" data-group="main-tabs"
	     data-tab="stats">
		<div class="obsidian-scrollable">
		<header>
			<div class="obsidian-char-header-container">
				<input name="name" type="text" value="{{actor.name}}"
				       class="obsidian-char-charname obsidian-condensed"
				       placeholder="{{localize 'OBSIDIAN.Name'}}">
				<div class="obsidian-char-header-minor obsidian-condensed obsidian-simple-dialog"
				     data-template="vehicle-details.html" data-width="400"
				     data-title="{{obs-i18n 'EditDetails'}}" title="{{obs-i18n 'EditDetails'}}">
					<span>{{obs-i18n 'Size' data.traits.size}}</span>
					<span>{{~lc (localize 'DND5E.Vehicle')~}}</span>
					{{#if actor.flags.obsidian.details.type}}
						<span>
							({{lc (obs-i18n 'VehicleType' actor.flags.obsidian.details.type)}})
						</span>
					{{/if}}
					{{#if data.traits.dimensions}}
						<span>({{lc data.traits.dimensions}})</span>
					{{/if}}
				</div>
			</div>
			<div class="obsidian-npc-btns">
				<div class="obsidian-npc-btn-row">
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'adv')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-positive
					        obsidian-global-advantage" style="margin-bottom: 0;">
						{{localize 'OBSIDIAN.Roll.adv'}}
					</button>
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'dis')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-negative
					        obsidian-global-disadvantage" style="margin-bottom: 0;">
						{{localize 'OBSIDIAN.Roll.dis'}}
					</button>
				</div>
			</div>
		</header>
		<main>
			<section class="obsidian-npc-stat-block">
				<div class="obsidian-npc-box-row">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{obs-i18n 'ACAbbr'}}</div>
						<div class="obsidian-char-box obsidian-npc-ac obsidian-ptr obsidian-simple-dialog"
						     data-title="{{obs-i18n 'ManageAC'}}" data-template="ac.html" data-width="450">
							{{data.attributes.ac.value}}
						</div>
					</div>
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{obs-i18n 'ThresholdAbbr'}}</div>
						<div class="obsidian-char-box obsidian-char-input-box">
							<input type="text" data-dtype="Number" name="data.attributes.hp.dt"
							       class="obsidian-input-num" value="{{data.attributes.hp.dt}}"
							       placeholder="&mdash;">
						</div>
					</div>
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{obs-i18n 'SpeedTitle'}}</div>
						<div class="obsidian-char-box">
							{{#if airVehicle}}
								200
							{{else if leggedVehicle}}
								15
							{{else if submersibleVehicle}}
								18
							{{else if treadedVehicle}}
								18
							{{else if waterVehicle}}
								18
							{{else}}
								45
							{{/if}}
						</div>
					</div>
				</div>
				<div class="obsidian-npc-box-row">
					<div class="obsidian-char-box-container">
						<div class="obsidian-char-box-text">{{obs-i18n 'HP'}}</div>
						<div class="obsidian-char-box obsidian-resource-box obsidian-npc-hp-box">
							<div class="obsidian-bisect">
								<input type="text" name="data.attributes.hp.value" class="obsidian-input-num"
								       value="{{data.attributes.hp.value}}" data-dtype="Number">
								&sol;
								<input type="text" name="data.attributes.hp.max" class="obsidian-input-num"
								       value="{{data.attributes.hp.max}}" data-dtype="Number">
							</div>
							<div class="obsidian-bisect">
								<input type="text" name="data.attributes.hp.temp" data-dtype="Number"
								       class="obsidian-input-num" value="{{data.attributes.hp.temp}}"
								       placeholder="{{obs-i18n 'TempAbbrUC'}}">
							</div>
						</div>
					</div>
				</div>
				<div class="obsidian-npc-stat-block-grid">
					<div class="obsidian-char-box-container obsidian-char-box-stacked">
						<div class="obsidian-char-box obsidian-skills-box">
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{obs-i18n 'Capacity'}}
									<a title="{{obs-i18n 'ManageCapacity'}}" data-width="400"
									   class="obsidian-edit obsidian-simple-dialog" data-template="capacity.html"
									   data-title="{{obs-i18n 'ManageCapacity'}}">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-horizontal-list obsidian-list-compact">
									<span>{{{vehicleCapacity}}}</span>
								</div>
							</div>
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{obs-i18n 'Mass'}}
									<a title="{{obs-i18n 'ManageMass'}}" data-width="400"
									   class="obsidian-edit obsidian-simple-dialog" data-template="vehicle-mass.html"
									   data-title="{{obs-i18n 'ManageMass'}}">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-horizontal-list obsidian-list-compact">
									<span>{{{vehicleMass}}}</span>
								</div>
							</div>
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{obs-i18n 'Handling'}}
									<a title="{{obs-i18n 'ManageHandling'}}" data-width="400"
									   class="obsidian-edit obsidian-simple-dialog" data-template="vehicle-handling.html"
									   data-title="{{obs-i18n 'ManageHandling'}}">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-horizontal-list obsidian-list-compact">
									<span>{{{vehicleHandling}}}</span>
								</div>
							</div>
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{obs-i18n 'Fuel'}}
									<a title="{{obs-i18n 'ManageFuel'}}" data-width="400"
									   class="obsidian-edit obsidian-simple-dialog" data-template="vehicle-fuel.html"
									   data-title="{{obs-i18n 'ManageFuel'}}">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-horizontal-list obsidian-list-compact">
									<span>{{{fuelRange}}}</span>
								</div>
							</div>
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{obs-i18n 'TravelPace'}}
									<a title="{{obs-i18n 'ManageSpeed'}}" data-title="{{obs-i18n 'ManageSpeed'}}"
									   data-width="250" data-template="vehicle-speed.html"
									   class="obsidian-edit obsidian-simple-dialog">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-skill-box-value obsidian-list-compact">
									{{#if data.attributes.movement.walk}}
											<span>{{data.attributes.movement.walk}}</span>
									{{else}}
										<span>0</span>
									{{/if}}
									<span class="obsidian-npc-subtle">{{obs-i18n 'MilesPerHour'}}</span>
									<span>{{{pacePerDay}}}</span>
								</div>
							</div>
							<div class="obsidian-bisect">
								<div class="obsidian-char-box-text obsidian-char-box-text-compact">
									{{localize 'OBSIDIAN.Defenses'}}
									<a title="{{localize 'OBSIDIAN.ManageDefenses'}}" class="obsidian-edit"
									   data-dialog="Defenses">
										<i class="fas fa-cog"></i>
									</a>
								</div>
								<div class="obsidian-horizontal-list obsidian-list-compact">
									{{#each actor.obsidian.defenses.display.all}}
										{{defense-pill this}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="obsidian-char-box-container obsidian-conditions-box obsidian-char-box-stacked">
						<div class="obsidian-char-box obsidian-char-box-lg">
							<div class="obsidian-grid-2-col obsidian-conditions">
								{{#each ObsidianConfig.CONDITIONS}}
									{{condition-pill this active=(lookup ../actor.obsidian.conditions this)}}
								{{/each}}
							</div>
							<div class="obsidian-exhaustion">
								<div class="
								{{#if (gt actor.obsidian.conditions.exhaustion 0)}}
									obsidian-condition-pill-active
								{{else}}
									obsidian-condition-pill-inactive
								{{/if}} obsidian-item-drop-pill obsidian-item-drop-pill-sm">
									{{#each (range 1 6) as |level|}}
										<div class="obsidian-item-drop-pill-header" data-value="{{level}}">
											<div class="
											{{#if (gt level ../actor.obsidian.conditions.exhaustion)}}
												obsidian-condition-pill-inactive
											{{else}}
												obsidian-condition-pill-active
											{{/if}} obsidian-svg-icon obsidian-svg-icon-sm
											        obsidian-icon-condition-exhaust{{level}}"></div>
										</div>
									{{/each}}
									<div class="obsidian-item-drop-pill-body">{{localize 'OBSIDIAN.Exhaustion'}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="obsidian-npc-configure">
					<div data-dialog="VehicleFeatures">
						{{localize 'OBSIDIAN.Features'}} <i class="fas fa-cog"></i>
					</div>
				</div>
			</section>
			{{#if featCategories.none}}
				<section>
					{{> modules/obsidiangenefunk/html/components/features.html feats=featCategories.none}}
				</section>
			{{/if}}
			{{#if featCategories.action}}
				<section>
						{{> modules/obsidiangenefunk/html/components/features.html feats=featCategories.action
								heading='OBSIDIAN.Actions'}}
				</section>
			{{/if}}
			{{#if featCategories.reaction}}
				<section>
					{{> modules/obsidiangenefunk/html/components/features.html feats=featCategories.reaction
							heading='OBSIDIAN.Reactions'}}
				</section>
			{{/if}}
		</main>
		</div>
	</div>
	{{> modules/obsidiangenefunk/html/tabs/layout.html}}
	{{> modules/obsidiangenefunk/html/tabs/equipment.html}}
	{{> modules/obsidiangenefunk/html/tabs/effects.html}}
</form>
